<?xml version="1.0" encoding="UTF-8"?>

<!--Validate the tags and manage the schema location of these tags-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id = "sim" class = "org.dev.ioc.Vodafone"></bean>

<!--    studentName dependency will be injected automatically when the object is being created-->
    <bean id="student1" class = "org.dev.di.Student">
        <property name="studentName" value="Rakesh Guru" />
        <property name="age" value="20" />
    </bean>

    <bean id="student2" class = "org.dev.di.Student">
        <property name="studentName" value="Rajesh Guru" />
        <property name="age" value="25" />
    </bean>

</beans>

