<?xml version="1.0" encoding="UTF-8"?>

<!--Validate the tags and manage the schema location of these tags-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id = "sim" class = "org.dev.ioc.Vodafone"></bean>

<!--    This is a constructor dependency injection so we need to provide values in constructor instead of property tag-->
    <bean id = "student" class="org.dev.di.Student">
        <constructor-arg name = "studentName" value="Rakesh Guru" type="java.lang.String"/>
        <constructor-arg name = "age" value="18" />
    </bean>

    <bean id = "student1" class="org.dev.di.Student">
        <constructor-arg name = "age" value="25" type="int" />
    </bean>



</beans>

